.hallOfFamePlacard{
    width: 65%;
    min-width:30vw;
    font-size:1.6vw;
    color:black;
    background:linear-gradient(darkgray, gray);
    border: 0.1vw solid gray;
    margin: 0.75vw auto;
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
}

.innerSpan{
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    -o-transform: skewX(40deg);
    text-align:left;
    margin: 0 1.25vw;
}

.fameDisplay{
    display:flex;
    min-width: 5vw;
    float:right;
}

.hallOfFamePlacard:nth-child(1) .hallOfFamePlace{
    color:gold;
}

.hallOfFamePlacard:nth-child(2) .hallOfFamePlace{
    color:silver;
}

.hallOfFamePlacard:nth-child(3) .hallOfFamePlace{
    color:orange;
}

@media screen and (max-width:800px) {
    .hallOfFamePlacard{
        min-width: auto;
        width:85vw;
        font-size:14px;
    }
    .hallOfFamePlacard .innerSpan{
        margin-left:16px;
        margin-right:16px;
    }

    .hallOfFamePlacard .fameDisplay{
        float:right;
    }
}
