.hallOfFameBody{
    display:block;
    width:80%;
    margin:auto;
}

.hallOfFameDataRow{
    margin: 0 auto;
    width: fit-content;
}

.hallOfFameButtonGroup{
    display:block;
}

.hallOfFameButtonGroup .buttonHOC{
    width:inherit
}

@media screen and (max-width:800px) {
    .hallOfFameBody{
        width:100%;
        margin:0;
    }

}