.backFrame{
	background-color:rgba(66,66,66,0.5);
	border: 2px solid darkgray;
	border-radius:10px;
	display:inline-flex;
	padding:8px;
	margin:4px;
}

@media screen and (max-width: 420px) {
	.backFrame {
        display: block;
        width:fit-content;
    }
}