.backFrame{
	background-color:rgba(66,66,66,0.5);
	border: 0.25vw solid darkgray;
	border-radius: 1vw;
	display:inline-flex;
	padding:0.75vw;
	margin:0.25vw auto;
	width: fit-content;
}

@media screen and (max-width: 800px) {
	.backFrame {
        display: block;
        width:fit-content;
		margin: 0 auto;
		padding:0;
    }
}
