.buttonHOC{
	background: linear-gradient(to bottom right, #ddd, #aaa);
	width:45%;
	min-width:90px;
	background-color:lightblue;
	font-size:20px;
	margin:3px;
}

@media screen and (max-width: 800px) {
	.buttonHOC{
		width:auto;
		min-width:auto;
		font-size:12px;
	}
}