.aboutBody{
	width:50vw;
	font-size:18px;
}

.aboutImage{
	height:96px;
}

@media screen and (max-width: 800px) {
	h1{
		font-size:14px;
	}
	.aboutBody{
		width:75vw;
		font-size:14px;
		margin-left:28px;
		margin-right:28px;
	}
	.aboutImage{
		display:none;
	}
}