.playerFound{
    font-size:2.5vw;
    margin: 1.5vw 0;
}

.player-profile-search{
    padding: 2vw;
}

.profileSearchInput{
    color:#ccc;
    font-size:2vw;
    height:4vw;
    width:25vw;
    border:0;
    border-bottom: 0.25vw solid #56ae44;
    background:none;
    text-align: center;
}

.profileSearchInput:focus {
    outline: none;
}
