.leaderboard-title{
	display: flex;
}

.leaderboard-variable-wrapper{
	display: flex;
	width: 17vw;
	height: 8vw;
}

.leaderboard-variable-wrapper .leaderboard-image-wrapper{
	background-image: url("../img/WeaponRack.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 1vw;
	width: 7vw;
}


.leaderboard-variable-wrapper .leaderboard-image-wrapper img{
	height: 70%;
	margin: 10% auto 15% auto;
}

.leaderboard-variable-buttons{
	width: 10vw;
	display: block;
	margin: auto auto;
}
