.runDescription{
	width: fit-content;
	min-width:600px;
	font-size:1.4em;
	color:black;
	background:linear-gradient(darkgray, gray);
	border: 1px solid gray;
	margin: 10px auto 10px auto;
	-webkit-transform: skewX(-40deg);
	   -moz-transform: skewX(-40deg);
	     -o-transform: skewX(-40deg);
}

.playerDisplay2{
	display:inline-flex;
	min-width:240px;
}

.Player2Display{
	padding-left:8px;
}

.timeDisplay{
	display:inline-flex;
	margin-right:12px;
	min-width:120px;
}

.linkToSpeedrun{
	text-decoration: none;
	color:inherit;
}

.innerSpan{
	-webkit-transform: skewX(40deg);
	   -moz-transform: skewX(40deg);
	     -o-transform: skewX(40deg);
}

.runDescription:nth-child(1) .runDescriptionPlace{
	color:gold;
}

.runDescription:nth-child(2) .runDescriptionPlace{
	color:silver;
}

.runDescription:nth-child(3) .runDescriptionPlace{
	color:orange;
}

@media screen and (max-width: 1000px) {
	.playerDisplay2{
		min-width:0;
	}

	.timeDisplay{
		min-width:0;
		margin-left:12px;
	}
}

@media screen and (max-width:800px) {
	.runDescription{
		min-width: auto;
		width:80%;
		font-size:14px;
	}
	.innerSpan{
		margin-left:16px;
		margin-right:16px;
		display:block;
	}

	.innerSpan .playerDisplayTopLine, .playerDisplayBottomLine{
		display:inline;
	}
}