.runDescription{
	width: 55%;
	min-width:450px;
	font-size:1.4em;
	background:linear-gradient(darkgray, gray);
	border: 1px solid gray;
	margin: 10px auto 10px auto;
	-webkit-transform: skewX(-40deg);
	   -moz-transform: skewX(-40deg);
	     -o-transform: skewX(-40deg);
}

.innerSpan{
	-webkit-transform: skewX(40deg);
	   -moz-transform: skewX(40deg);
	     -o-transform: skewX(40deg);
}

.runDescription:nth-child(1) .runDescriptionPlace{
	color:gold;
}

.runDescription:nth-child(2) .runDescriptionPlace{
	color:silver;
}

.runDescription:nth-child(3) .runDescriptionPlace{
	color:orange;
}

@media screen and (max-width:800px) {
	.runDescription{
		min-width: auto;
		width:80%;
		font-size:22px;
	}
	.innerSpan{
		margin-left:16px;
		margin-right:16px;
	}
}