.sideBar{
    width: 15vw;
    font-size: 2.7vw;
    color: #ccc;
    height: 50vh;
}

.sideBar .titleCategoryDisplay{
    height: 20%;
}

.sideBar .category-title-image-wrapper{
    height: 40%;
    width: 100%;
}

.sideBar .category-title-image-wrapper img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
